.header {
    background-image: url("../img/banner.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.title {
    opacity: 0.0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 56px;
    background-image: url(../img/herringbone.png);
    background-attachment: fixed;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.planning-day {
    padding:20px;
    text-align: center;
}

.day0 {
    background-color: #BEF781;
}
.day1 {
    background-color: #E3F6CE;
}
.dayrest {
    padding-top:35px;
    padding-bottom:35px;
    background-color: #BBB;
    font-style: italic;
}

