<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127741233-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-127741233-1');
    </script>
    <!-- END OF : Global site tag (gtag.js) - Google Analytics -->

    <title> <%= @item[:title] %></title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/cookieconsent.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
<script src="/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#aa0000",
      "text": "#ffdddd"
    },
    "button": {
      "background": "#ff0000"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Nous utilisons des cookies pour vous offrir la meilleur experience possible.",
    "dismiss": "Accepter",
    "link": "Learn more"
  }
})});
</script>

</head>
  <body>
  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Solebull.fr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
	    <%= menu %>
          </ul>
        </div>
      </nav>
          <div class="jumbotron text-center header">
    <h1 class="title">SniperGames et Solebull</h1>
  </div>

  </header>

 
  <main id = "main" role="main" class="container">

    <%= yield %>

  </main>

  <%= render '/footer.*' %>
  </body>
</html>
    
